#LandingPage {
    padding: 5px;
    width: 85%;
    margin: auto;

    #socio-logo {
        width: 100px;
        height: 100px;
    }

    .large-button {
        font-size: 18px;
    }

    .large-button:hover {
        background-color: var(--ion-color-primary);
        border-radius: 3px;
        color: var(--ion-color-dark);
    }

    .home-content,
    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        padding: 20px;
    }

    #title_socio {
        font-size: 100px;
        margin: 0;
        margin-bottom: 10px;
        color: var(--ion-color-primary);
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        min-width: 300px;
    }

    .about-content .text-container {
        font-size: 20px;
    }

    .svg-container {
        flex: 1;
        min-width: 300px;
        display: flex;
        justify-content: center;
    }

    .typewriter {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
    }

    .tagline {
        font-size: 30px;
        margin: 0;
    }

    .button-container {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .btn {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: var(--ion-color-primary);
    }

    .login-btn {
        background-color: var(--ion-color-primary);
    }

    .tutorial-btn {
        background-color: var(--ion-color-secondary);
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {

        0%,
        100% {
            border-color: transparent;
        }

        50% {
            border-color: var(--ion-color-primary);
        }
    }

    .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 515px;
    }

    .feature-image img {
        margin: 0;
        height: 300px;
    }

    .founder-section,
    .benefits-section {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .benefits-section img {
        width: 50px;
        margin-right: 20px;
    }

    .benefits-section p {
        font-size: 30px;
    }

    .benefits-section ion-item {
        margin-top: 10px;
    }

    .founder-image {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .founder-text {
        max-width: 600px;

        #founder-links {
            display: flex;
            align-items: center;
            gap: 30px;

            ion-icon {
                font-size: 20px;
            }
        }

    }

    .founder-text h3 {
        margin: 0;
        font-size: 24px;
    }

    .founder-text p {
        font-size: 25px;
        margin: 5px 0;
    }

    #team,
    #benefits {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #team h3 {
        text-align: left !important;
    }

    #Founder,
    #question {
        font-size: 50px;
    }

    #founder_span {
        color: var(--ion-color-primary);
    }

    #supporter-logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .supporter-image {
            width: 40%;
            margin-top: 10px;
        }
    }

    #about,
    #features,
    #team,
    #supporters {
        h2 {
            font-size: 50px;
            text-align: center;
        }

        h3 {
            font-size: 20px;
            text-align: center;
        }
    }

    .team-section.desktop {
        display: flex;

        .one,
        .two,
        .three,
        .four,
        .five,
        .six {
            position: relative;
            background-color: #000000;
        }

        .two,
        .three,
        .four,
        .five,
        .six {
            div {
                display: none;
            }
        }

        .team-member {
            border-radius: 20px;

            img {
                width: 200px;
                height: 200px;
                aspect-ratio: 1 / 1;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-right: solid 2px #000000;
                box-shadow: 4px 0 8px var(--ion-color-primary, 0.3);
            }

            .reverse-image {
                transform: scaleX(-1);
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-left: solid 2px #000000;
                box-shadow: -4px 0 8px var(--ion-color-primary, 0.3);
            }

            h3,
            p {
                width: max-content;
                margin: 10px auto;
            }

            .team-links {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
                margin: auto;

                ion-icon {
                    font-size: 30px;
                }
            }
        }

        .five {
            left: 50px;
            z-index: 96;
        }

        .four {
            left: 150px;
            z-index: 97;
        }

        .three {
            left: 200px;
            z-index: 98;
        }

        .two {
            left: 250px;
            z-index: 99;
        }

        .one {
            left: 330px;
            z-index: 100;
        }

        .team-member:hover {
            z-index: 105;
            transform: scale(1.05);
            transition: transform 0.3s ease;
            box-shadow: 0 4px 8px var(--ion-color-primary, 0.3), 0 6px 20px var(--ion-color-primary, 0.2);

            .team-text {
                display: block;
            }
        }

    }

    ion-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #footer-p {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        #footer-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            ion-icon {
                font-size: 30px;
            }

            p {
                font-size: 20px;
                font-weight: bold;
            }
        }

    }

    #footer-count {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;

        span {
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }

}


@media screen and (max-width: 768px) {
    #LandingPage {
        width: 100%;

        #socio-logo {
            width: 80px;
            height: 80px;
        }

        .small-button {
            font-size: 16px;
        }

        .text-container {
            align-items: center;
            width: 100% !important;
        }

        #title_socio {
            font-size: 50px;
        }

        .tagline {
            font-size: 20px;
        }

        .feature-item {
            min-height: max-content;
        }

        #team,
        #benefits {
            flex-direction: column;
        }

        .founder-section,
        .benefits-section {
            flex-direction: column;
            text-align: center;
        }

        .founder-text {
            #founder-links {
                justify-content: center;
            }
        }

        #team h3,
        #benfits h3 {
            text-align: center !important;
        }

        .founder-image {
            margin: auto;
        }

        #team {
            position: relative;
            overflow: hidden;
            padding: 20px;
            text-align: center;

            .team-section {
                position: relative;
                width: 100vw;
                height: auto;
                margin-bottom: 80%;

                .team-member {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw; // Each member spans the viewport width
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 150px;
                        border-radius: 50%;
                        margin-bottom: 10px;
                    }

                    h3,
                    p {
                        margin: 5px 0;
                    }

                    .team-links a {
                        margin: 0 5px;
                        font-size: 1.5em;
                    }
                }
            }

            // Keyframes to handle the fade-in and fade-out scrolling effect
            @keyframes scrollTeam {

                0%,
                16.67% {
                    opacity: 1;
                    z-index: 1;
                }

                16.67%,
                100% {
                    opacity: 0;
                    z-index: 0;
                }
            }

            // Applying animation to each team member
            .team-member:nth-child(1) {
                animation: scrollTeam 18s infinite linear;
            }

            .team-member:nth-child(2) {
                animation: scrollTeam 18s infinite linear 3s; // Start delay for the second member
            }

            .team-member:nth-child(3) {
                animation: scrollTeam 18s infinite linear 6s; // Start delay for the third member
            }

            .team-member:nth-child(4) {
                animation: scrollTeam 18s infinite linear 9s; // Start delay for the fourth member
            }

            .team-member:nth-child(5) {
                animation: scrollTeam 18s infinite linear 12s; // Start delay for the fifth member
            }

            .team-member:nth-child(6) {
                animation: scrollTeam 18s infinite linear 15s; // Start delay for the sixth member
            }
        }

        ion-footer {

            #footer-p {
                font-size: 10px;
            }

            #footer-icons {

                #follow-text {
                    display: none;
                }

                ion-icon {
                    font-size: 20px;
                }
            }

            #footer-count {
                font-size: 10px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #team {
        position: relative;
        overflow: hidden;
        padding: 20px;
        text-align: center;

        .team-section {
            position: relative;
            width: 100vw;
            height: auto;
            margin-bottom: 45% !important;

            .team-member {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw; // Each member spans the viewport width
                opacity: 0;
                transition: opacity 1s ease-in-out;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 150px;
                    border-radius: 50%;
                    margin-bottom: 10px;
                }

                h3,
                p {
                    margin: 5px 0;
                }

                .team-links a {
                    margin: 0 5px;
                    font-size: 1.5em;
                }
            }
        }

        // Keyframes to handle the fade-in and fade-out scrolling effect
        @keyframes scrollTeam {

            0%,
            16.67% {
                opacity: 1;
                z-index: 1;
            }

            16.67%,
            100% {
                opacity: 0;
                z-index: 0;
            }
        }

        // Applying animation to each team member
        .team-member:nth-child(1) {
            animation: scrollTeam 18s infinite linear;
        }

        .team-member:nth-child(2) {
            animation: scrollTeam 18s infinite linear 3s; // Start delay for the second member
        }

        .team-member:nth-child(3) {
            animation: scrollTeam 18s infinite linear 6s; // Start delay for the third member
        }

        .team-member:nth-child(4) {
            animation: scrollTeam 18s infinite linear 9s; // Start delay for the fourth member
        }

        .team-member:nth-child(5) {
            animation: scrollTeam 18s infinite linear 12s; // Start delay for the fifth member
        }

        .team-member:nth-child(6) {
            animation: scrollTeam 18s infinite linear 15s; // Start delay for the sixth member
        }
    }
}