/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
	--ion-color-primary: #f1c40f;
	--ion-color-primary-rgb: 241, 196, 15;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0, 0, 0;
	--ion-color-primary-shade: #d4ac0d;
	--ion-color-primary-tint: #f2ca27;

	--ion-color-secondary: #0163aa;
	--ion-color-secondary-rgb: 1, 99, 170;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #015796;
	--ion-color-secondary-tint: #1a73b3;

	--ion-color-tertiary: #0095F6;
	--ion-color-tertiary-rgb: 0, 149, 246;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0, 0, 0;
	--ion-color-tertiary-shade: #0083d8;
	--ion-color-tertiary-tint: #1aa0f7;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45, 213, 91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197, 0, 15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #fffffff;
	--ion-color-light-rgb: 255, 255, 255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0, 0, 0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

}

@media (prefers-color-scheme: dark) {
	:root {
		--ion-background-color: #000000;
		--ion-background-color-rgb: 0, 0, 0;


		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;
	}
}

body[color-theme="dark"] {
	--ion-color-primary: #f1c40f;
	--ion-color-primary-rgb: 241, 196, 15;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0, 0, 0;
	--ion-color-primary-shade: #d4ac0d;
	--ion-color-primary-tint: #f2ca27;

	--ion-color-secondary: #0163aa;
	--ion-color-secondary-rgb: 1, 99, 170;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #015796;
	--ion-color-secondary-tint: #1a73b3;

	--ion-color-tertiary: #0095F6;
	--ion-color-tertiary-rgb: 0, 149, 246;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0, 0, 0;
	--ion-color-tertiary-shade: #0083d8;
	--ion-color-tertiary-tint: #1aa0f7;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45, 213, 91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197, 0, 15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #fffffff;
	--ion-color-light-rgb: 255, 255, 255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0, 0, 0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

	--ion-toolbar-background: #000000;
	--ion-item-background: #000000;
	--ion-tab-bar-background: #000000;
	--ion-card-background: #000000;

	--ion-tab-button-color: #ffffff;

	--ion-icon-color: #ffffff;

	--ion-card-color: #ffffff;

	--ion-border: #ffffff;
}

body[color-theme="light"] {
	--ion-color-primary: #f1c40f;
	--ion-color-primary-rgb: 241, 196, 15;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0, 0, 0;
	--ion-color-primary-shade: #d4ac0d;
	--ion-color-primary-tint: #f2ca27;

	--ion-color-secondary: #0163aa;
	--ion-color-secondary-rgb: 1, 99, 170;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #015796;
	--ion-color-secondary-tint: #1a73b3;

	--ion-color-tertiary: #0095F6;
	--ion-color-tertiary-rgb: 0, 149, 246;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0, 0, 0;
	--ion-color-tertiary-shade: #0083d8;
	--ion-color-tertiary-tint: #1aa0f7;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45, 213, 91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197, 0, 15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #fffffff;
	--ion-color-light-rgb: 255, 255, 255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0, 0, 0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

	--ion-toolbar-background: #ffffff;
	--ion-item-background: #ffffff;
	--ion-tab-bar-background: #ffffff;
	--ion-card-background: #ffffff;

	--ion-tab-button-color: #000000;

	--ion-icon-color: #000000;

	--ion-card-color: #000000;

	--ion-border: #000000;
}

.ios body[color-theme="dark"] {
	--ion-background-color: #000000;
	--ion-background-color-rgb: 0, 0, 0;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;
}

.md body[color-theme="dark"] {
	--ion-background-color: #000000;
	--ion-background-color-rgb: 0, 0, 0;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;
}

.ios body[color-theme="light"] {
	--ion-background-color: #ffffff;
	--ion-background-color-rgb: 255, 255, 255;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0, 0, 0;
}

.md body[color-theme="light"] {
	--ion-background-color: #ffffff;
	--ion-background-color-rgb: 255, 255, 255;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0, 0, 0;
}